# Libraries

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException 
import time

import pandas as pd
import numpy as np

# extracting locations to search

In [2]:
data_cities=pd.read_csv(r"USCities - City_list.csv")

In [3]:
data_cities.head()

         City State short State full          County
0   Anchorage          AK     Alaska       ANCHORAGE
1        Jber          AK     Alaska       ANCHORAGE
2      Indian          AK     Alaska       ANCHORAGE
3  Kongiganak          AK     Alaska          BETHEL
4        Adak          AK     Alaska  ALEUTIANS WEST

In [16]:
unique_city=data_cities['City'].unique()
unique_county=data_cities['County'].unique()

In [17]:
#type(unique_city)
final_locations_all=np.concatenate([unique_city,unique_county])

In [20]:
len(final_locations)

20576

In [19]:
final_locations=np.unique(final_locations_all)

In [ ]:
#final_locations contains all locations

In [7]:
final_req=pd.read_csv('final_req.csv')
final_req.head()#contains 2 columns

,Fact,Xpath
0,"Population estimates, July 1, 2019, (V2019)","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody..."
1,"Population estimates base, April 1, 2010, (V2...","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody..."
2,"Population, percent change - April 1, 2010 (es...","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody..."
3,"Population, Census, April 1, 2010","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody..."
4,"Persons under 5 years, percent","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody..."

In [9]:
empty_list=[]
for i in range(50):
    empty_list.append('NaN')

# Scrap data

In [10]:
options = Options()
options.add_argument("start-maximized")
driver = webdriver.Chrome(chrome_options=options, executable_path=r'chromedriver_new.exe')
driver.get('https://www.census.gov/quickfacts/fact/table/US/PST045219')

D:\PIAIC\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: use options instead of chrome_options
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
#driver = webdriver.Chrome(r"chromedriver_new.exe")
#driver.get('https://www.census.gov/quickfacts/fact/table/US/PST045219')

In [12]:
driver.refresh()

In [13]:
no_suggestion_list=[]
problem_list=[]
no_data_found=[]
default_us_url='https://www.census.gov/quickfacts/fact/table/US/PST045219'
no_suggestion_msg=r"Can't find what you're looking for? Re-enter the first 2 characters of your geography or zip and select from the dropdown list"
no_suggestion_list.append(no_suggestion_msg)

# Funtions

In [14]:
def check_locations(location):
    
    global driver
    
    clear_button()
    try:
        inputElement = WebDriverWait(driver, 5).until(lambda x: x.find_element_by_id('qf-search-box'))
    except TimeoutException:
        clear_button()
        inputElement = WebDriverWait(driver, 10).until(lambda x: x.find_element_by_id('qf-search-box'))
    inputElement.send_keys(location,Keys.DOWN)
    try:
        options = WebDriverWait(driver, 50).until(lambda x: x.find_elements_by_class_name("ui-menu-item-wrapper"))#this pick all auto suggestions
    except TimeoutException:        
        clear_button()
        try:
            inputElement.send_keys(location,Keys.DOWN)
        except:
            clear_button()
            inputElement.send_keys(location,Keys.DOWN)
        options = WebDriverWait(driver, 60).until(lambda x: x.find_elements_by_class_name("ui-menu-item-wrapper"))#this pick all auto suggestions
    return options

def input_button(location):
    global driver
    xpath_of_search_box='//*[@id="qf-search-box"]'
    clear_button()
    inputElement = WebDriverWait(driver, 60).until(lambda x: x.find_element_by_id('qf-search-box'))
    inputElement.send_keys(location)
    #WebDriverWait(driver, 30).until(lambda driver: driver.find_element_by_xpath(xpath_of_search_box).text.strip() == '')
    time.sleep(1.8)
    #driver.implicitly_wait(3)
    inputElement.send_keys(Keys.ENTER)
    #time.sleep(0.5)

def clear_button():
    global driver
    try:
        cross_button=WebDriverWait(driver, 60).until(lambda x: x.find_element_by_id("qf-nav-link-clear"))
        cross_button.click()
    except :
        #time.sleep()
        driver.refresh()
        cross_button=WebDriverWait(driver, 60).until(lambda x: x.find_element_by_id("qf-nav-link-clear"))
        cross_button.click()
    #time.sleep(0.5)

def get_data(location):    
    global empty_list,final_req,driver
    #clear_button()
    input_button(location)
    final_req[location]= empty_list
    #time.sleep(1.5)
    WebDriverWait(driver, 20).until(EC.text_to_be_present_in_element((By.ID, "qfcontent"), location))#waits until page loads
    for entity in final_req['Fact']:
        
        final_req.at[final_req['Fact']==entity,location]=(WebDriverWait(driver, 10).until(lambda x: x.find_element_by_xpath(final_req.loc[final_req['Fact']==entity]['Xpath'].values[0]))).text
    final_req[location].replace(regex=True, inplace=True, to_replace=r'[\ue840\n\ue83f\n]', value=r'')
    
def put_null(location):
    global empty_list,final_req
    location=location.strip()
    final_req[location]= empty_list#put nan

# Main

In [117]:
for var in range(0,100,10):#from 0 to index 100
    start_index=var
    end_index=var+10
    for location in final_locations[start_index:end_index]:
        print(location)
        print('==========')
        options=check_locations(location)
        list_of_options=[]

        for i in options:
            list_of_options.append(i.text)

        if list_of_options==no_suggestion_list:#means no city
            #print('nikal')
            put_null(location)
            no_data_found.append(location)
        else:
            for real_location in list_of_options:
                if real_location not in final_req.columns:#means it in not already in data
                    try:
                        get_data(real_location)
                    except: 
                        problem_list.append(real_location)
                        
                        continue

88
==========
AARP
==========
ABAC
==========
ABBEVILLE
==========
ABMPS
==========
ACADIA
==========
ACCOMACK
==========
ADA
==========
ADAIR
==========
ADAMS
==========
ADDISON
==========
AIKEN
==========
AITKIN
==========
ALACHUA
==========
ALAMANCE
==========
ALAMEDA
==========
ALAMOSA
==========
ALBANY
==========
ALBEMARLE
==========
ALCONA
==========
ALCORN
==========
ALEUTIANS EAST
==========
ALEUTIANS WEST
==========
ALEXANDER
==========
ALEXANDRIA CITY
==========
ALFALFA
==========
ALGER
==========
ALLAMAKEE
==========
ALLEGAN
==========
ALLEGANY
==========
ALLEGHANY
==========
ALLEGHENY
==========
ALLEN
==========
ALLENDALE
==========
ALPENA
==========
ALPINE
==========
AMADOR
==========
AMELIA
==========
AMF
==========
AMHERST
==========
AMITE
==========
ANCHORAGE
==========
ANDERSON
==========
ANDREW
==========
ANDREWS
==========
ANDROSCOGGIN
==========
ANGELINA
==========
ANNE ARUNDEL
==========
ANOKA
==========
ANSON
==========
ANTELOPE
==========
ANTRIM
==========
APACHE
==========
APG
==========
APPANOOSE
==========
APPLING
==========
APPOMATTOX
==========
ARANSAS
==========
ARAPAHOE
==========
ARCHER
==========
ARCHULETA
==========
ARENAC
==========
ARKANSAS
==========
ARLINGTON
==========
ARMSTRONG
==========
AROOSTOOK
==========
ARP
==========
ARTHUR
==========
ASCENSION
==========
ASHE
==========
ASHLAND
==========
ASHLEY
==========
ASHTABULA
==========
ASOTIN
==========
ASSUMPTION
==========
ASU
==========
ATASCOSA
==========
ATCHISON
==========
ATHENS
==========
ATKINSON
==========
ATLANTIC
==========
ATOKA
==========
ATTALA
==========
AUDRAIN
==========
AUDUBON
==========
AUGLAIZE
==========
AUGUSTA
==========
AURORA
==========
AUSTIN
==========
AUTAUGA
==========
AVERY
==========
AVOYELLES
==========
Aaronsburg
==========
Abbeville
==========
Abbot
==========
Abbotsford
==========
Abbott
==========
Abbottstown
==========
Abbyville
==========
Abell
==========

In [92]:
#for var in range(2450,5000,10):#from 0 to index 100#now start from 858
#start_index=5
#end_index=7
for location in columns_with_nan[:]:
    print(location ,columns_with_nan.index(location))
    
    print('==========')
    options=check_locations(location)
    list_of_options=[]

    for i in options:
        list_of_options.append(i.text)

    if list_of_options==no_suggestion_list:#means no city
        
        no_data_found.append(location)
    else:
        for real_location in list_of_options:
            if real_location not in final_req.columns:#means it in not already in data
                if not 'Puerto Rico'in real_location:#means no piero data
                    try:    
                        get_data(real_location)
                    except: 
                        problem_list.append(real_location)
                        continue

Anthony city, New Mexico 0
==========
Arthur County, Nebraska 1
==========
Ballard County, Kentucky 2
==========
Banner County, Nebraska 3
==========
Latrobe borough, Pennsylvania 4
==========
Lawrence County, Kentucky 5
==========
Lee County, Kentucky 6
==========
Bedford town, Virginia 7
==========
Bella Vista city, Arkansas 8
==========
Blaine County, Nebraska 9
==========
Borden County, Texas 10
==========
Bracken County, Kentucky 11
==========
Briscoe County, Texas 12
==========
Brookhaven city, Georgia 13
==========
Calhoun County, West Virginia 14
==========
Carlisle County, Kentucky 15
==========

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=86.0.4240.111)

In [22]:
#for var in range(5000,7500,10):#from 0 to index 100#now start from 858
start_index=7
end_index=10
for location in final_locations[start_index:end_index]:
    print(location,(np.where(final_locations == location))[0][0])
    print('==========')
    options=check_locations(location)
    list_of_options=[]

    for i in options:
        list_of_options.append(i.text)

    if list_of_options==no_suggestion_list:#means no city
        
        no_data_found.append(location)
    else:
        for real_location in list_of_options:
            if real_location not in final_req.columns:#means it in not already in data
                if not 'Puerto Rico'in real_location:#means no piero data
                    try:
                        get_data(real_location)
                    except: 
                        problem_list.append(real_location)
                        continue

ADA 7
==========
ADAIR 8
==========
ADAMS 9
==========

In [259]:
final_req.to_csv(r'rows_6954.csv')

In [262]:
no_data_found

['Bee Branch',
 'Bee Spring',
 'Beebe Plain',
 'Beech Bluff',
 'Beech Bottom',
 'Beech Creek',
 'Beech Island',
 'Beecher City',
 'Beecher Falls',
 'Beechmont',
 'Beedeville',
 'Beeler',
 'Beemer',
 'Beersheba Springs',
 'Beeson',
 'Beetown',
 'Beggs',
 'Beirne',
 'Bejou',
 'Bel Alton',
 'Belcamp',
 'Belcourt',
 'Belden',
 'Beldenville',
 'Belews Creek',
 'Belfair',
 'Belfield',
 'Belford',
 'Belfry',
 'Belgium',
 'Belgrade Lakes',
 'Belhaven',
 'Belington',
 'Bell Buckle',
 'Bellamy',
 'Bellarthur',
 'Belle Center',
 'Belle Mead',
 'Belle Mina',
 'Belle Rive',
 'Belle Rose',
 'Belle Valley',
 'Belle Vernon',
 'Belleair Beach',
 'Bellemont',
 'Bellerose',
 'Bellerose Village',
 'Bellmont',
 'Bellona',
 'Bellows Falls',
 'Bellport',
 'Bells',
 'Bellvale',
 'Bellville',
 'Bellvue',
 'Belmond',
 'Belmore',
 'Belsano',
 'Belspring',
 'Belva',
 'Belvedere Tiburon',
 'Belvidere Center',
 'Belview',
 'Belvue',
 'Belzoni',
 'Bement',
 'Bemus Point',
 'Ben Bolt',
 'Ben Franklin',
 'Ben Hur',
 'Ben Wheeler',
 'Bena',
 'Benavides',
 'Bendena',
 'Bendersville',
 'Benedict',
 'Benedicta',
 'Benet Lake',
 'Benezett',
 'Benge',
 'Benham',
 'Benjamin',
 'Benkelman',
 'Benld',
 'Benoit',
 'Bent Mountain',
 'Bentley',
 'Bentleyville',
 'Benton Ridge',
 'Bentonia',
 'Benwood',
 'Benzonia',
 'Berclair',
 'Beresford',
 'Berger',
 'Bergheim',
 'Bergholz',
 'Bergland',
 'Bergman',
 'Bergoo',
 'Bergton',
 'Berino',
 'Berkeley Springs',
 'Berkey',
 'Berlin Center',
 'Berlin Heights',
 'Bernardston',
 'Berne',
 'Bernhards Bay',
 'Bernice',
 'Bernie',
 'Bernville',
 'Berrien Center',
 'Berrien Springs',
 'Berry Creek',
 'Berrysburg',
 'Berryton',
 'Bertha',
 'Berthold',
 'Bertram',
 'Bertrand',
 'Berwind',
 'Beryl',
 'Bessie',
 'Bethania',
 'Bethany Beach',
 'Bethel Island',
 'Bethel Springs',
 'Bethelridge',
 'Bethera',
 'Bethune',
 'Betsy Layne',
 'Betterton',
 'Bettles Field',
 'Bettsville',
 'Beulah',
 'Beulaville',
 'Beverly Shores',
 'Bevier',
 'Bevington',
 'Bevinsville',
 'Beyer',
 'Bible School Park',
 'Bickleton',
 'Bickmore',
 'Bicknell',
 'Biddeford Pool',
 'Biddle',
 'Bidwell',
 'Bieber',
 'Big Arm',
 'Big Bar',
 'Big Bay',
 'Big Bend',
 'Big Bend National Park',
 'Big Cabin',
 'Big Clifty',
 'Big Cove Tannery',
 'Big Creek',
 'Big Falls',
 'Big Indian',
 'Big Island',
 'Big Laurel',
 'Big Oak Flat',
 'Big Pine',
 'Big Pine Key',
 'Big Piney',
 'Big Pool',
 'Big Prairie',
 'Big Rock',
 'Big Run',
 'Big Sandy',
 'Big Sky',
 'Big Springs',
 'Big Stone City',
 'Big Sur',
 'Big Timber',
 'Big Wells',
 'Bigelow',
 'Bigfoot',
 'Bigfork',
 'Biggers',
 'Biggs',
 'Biggsville',
 'Bighill',
 'Bigler',
 'Biglerville',
 'Billingsley',
 'Bim',
 'Bimble',
 'Binford',
 'Bingen',
 'Binger',
 'Bingham Canyon',
 'Bingham Lake',
 'Biola',
 'Bippus',
 'Birch Harbor',
 'Birch River',
 'Birch Tree',
 'Birchdale',
 'Birchleaf',
 'Birchrunville',
 'Birchwood',
 'Bird City',
 'Bird In Hand',
 'Bird Island',
 'Birds Landing',
 'Birdseye',
 'Birdsnest',
 'Birnamwood',
 'Birney',
 'Biscoe',
 'Bishop',
 'Bishop Hill',
 'Bishopville',
 'Bison',
 'Bitely',
 'Bittinger',
 'Bivalve',
 'Bivins',
 'Biwabik',
 'Blachly',
 'Black Canyon City',
 'Black Creek',
 'Black Diamond',
 'Black Eagle',
 'Black Earth',
 'Black Lick',
 'Black Oak',
 'Black River',
 'Black River Falls',
 'Black Rock',
 'Blackburn',
 'Blackduck',
 'Blackey',
 'Blackshear',
 'Blackstock',
 'Blacksville',
 'Blackville',
 'Blackwater',
 'Blackwood',
 'Bladenboro',
 'Blairs Mills',
 'Blairsburg',
 'Blairsden-Graeagle',
 'Blairsville',
 'Blakely Island',
 'Blakesburg',
 'Blakeslee',
 'Blanca',
 'Blanchardville',
 'Blanchester',
 'Blandburg',
 'Blandford',
 'Blanding',
 'Blandinsville',
 'Blanford',
 'Blanket',
 'Blawenburg',
 'Bleiblerville',
 'Blencoe',
 'Blenheim',
 'Blenker',
 'Blessing',
 'Blevins',
 'Blissfield',
 'Block Island',
 'Blocker',
 'Blocksburg',
 'Blockton',
 'Blodgett',
 'Blodgett Mills',
 'Blomkest',
 'Bloomburg',
 'Bloomdale',
 'Bloomer',
 'Bloomery',
 'Bloomfield Hills',
 'Blooming Glen',
 'Blooming Prairie',
 'Bloomingburg',
 'Bloomingrose',
 'Bloomington Springs',
 'Bloomsbury',
 'Bloomsdale',
 'Bloomville',
 'Blossburg',
 'Blossom',
 'Blossvale',
 'Blounts Creek',
 'Blountstown',
 'Blountsville',
 'Blountville',
 'Blowing Rock',
 'Bloxom',
 'Blue Ball',
 'Blue Creek',
 'Blue Diamond',
 'Blue Eye',
 'Blue Gap',
 'Blue Grass',
 'Blue Hill',
 'Blue Jay',
 'Blue Lake',
 'Blue Mound',
 'Blue Mounds',
 'Blue Mountain',
 'Blue Mountain Lake',
 'Blue Point',
 'Blue Rapids',
 'Blue Ridge',
 'Blue Ridge Summit',
 'Blue River',
 'Blue Rock',
 'Bluegrove',
 'Bluejacket',
 'Bluemont',
 'Bluewater',
 'Bluff City',
 'Bluff Dale',
 'Bluff Springs',
 'Bluffs',
 'Bluford',
 'Blum',
 'Blunt',
 'Blythedale',
 'Blythewood',
 'Boalsburg',
 'Board Camp',
 'Bob White',
 'Bobtown',
 'Boca Grande',
 'Bock',
 'Bode',
 'Bodega',
 'Bodega Bay',
 'Bodfish',
 'Boelus',
 'Bogard',
 'Bogart',
 'Bogata',
 'Boggstown',
 'Bogue',
 'Bogue Chitto',
 'Bohannon',
 'Boiceville',
 'Bois D Arc',
 'Boissevain',
 'Bokchito',
 'Bokeelia',
 'Bokoshe',
 'Bolckow',
 'Boles',
 'Boley',
 'Boligee',
 'Bolinas',
 'Bolingbroke',
 'Bolivia',
 'Bolton Landing',
 'Bombay',
 'Bomont',
 'Bomoseen',
 'Bon Aqua',
 'Bon Secour',
 'Bon Wier',
 'Bonaire',
 'Bonanza',
 'Bonaparte',
 'Boncarbo',
 'Bondsville',
 'Bonduel',
 'Bondville',
 'Bone Gap',
 'Bonesteel',
 'Boneville',
 'Bonfield',
 'Bonifay',
 'Bonlee',
 'Bonneau',
 'Bonnerdale',
 'Bonners Ferry',
 'Bonnie',
 'Bonnieville',
 'Bonnots Mill',
 'Bonnyman',
 'Bono',
 'Bonsall',
 'Boody',
 'Booker',
 'Boomer',
 'Boone Grove',
 'Boones Mill',
 'Boons Camp',
 'Boonsboro',
 'Booth',
 'Boothbay',
 'Boothbay Harbor',
 'Boothville',
 'Bordelonville',
 'Borderland',
 'Boring',
 'Boron',
 'Borrego Springs',
 'Borup',
 'Boscobel',
 'Bosler',
 'Bosque Farms',
 'Bostic',
 'Bostwick',
 'Boswell',
 'Bosworth',
 'Botkins',
 'Botsford',
 'Bouckville',
 'Boulder Creek',
 'Boulder Junction',
 'Bourg',
 'Bourneville',
 'Bouse',
 'Bouton',
 'Boutte',
 'Bovard',
 'Bovey',
 'Bovill',
 'Bovina',
 'Bovina Center',
 'Bowbells',
 'Bowden',
 'Bowdle',
 'Bowdoin',
 'Bowdoinham',
 'Bowdon',
 'Bowdon Junction',
 'Bowen',
 'Bowers',
 'Bowerston',
 'Bowersville',
 'Bowlegs',
 'Bowler',
 'Bowlus',
 'Bowmanstown',
 'Bowmansville',
 'Bowstring',
 'Box Springs',
 'Boxholm',
 'Boyce',
 'Boyceville',
 'Boyden',
 'Boyds',
 'Boydton',
 'Boyers',
 'Boyertown',
 'Boykin',
 'Boykins',
 'Boylston',
 'Boyne City',
 'Boyne Falls',
 'Boys Ranch',
 'Boys Town',
 'Bozman',
 'Bozrah',
 'Braceville',
 'Bracey',
 'Brackenridge',
 'Brackettville',
 'Brackney',
 'Braddock',
 'Braddock Heights',
 'Braddyville',
 'Bradenton Beach',
 'Bradenville',
 'Bradfordsville',
 'Bradfordwoods',
 'Bradgate',
 'Bradley Beach',
 'Bradleyville',
 'Bradner',
 'Bradshaw',
 'Brady Lake',
 'Bradyville',
 'Bragg City',
 'Braggadocio',
 'Braggs',
 'Braham',
 'Brainard',
 'Brainardsville',
 'Braithwaite',
 'Braman',
 'Bramwell',
 'Branchdale',
 'Branchland',
 'Branchport',
 'Branchton',
 'Branchville',
 'Brandamore',
 'Brandeis',
 'Brandenburg',
 'Brandsville',
 'Brandt',
 'Brandy Camp',
 'Brandy Station',
 'Branscomb',
 'Brant Lake',
 'Brant Rock',
 'Brantingham',
 'Brantwood',
 'Brashear',
 'Brasher Falls',
 'Brasstown',
 'Brave',
 'Braymer',
 'Brayton',
 'Brazeau',
 'Breaks',
 'Breda',
 'Breeden',
 'Breeding',
 'Breedsville',
 'Breese',
 'Breesport',
 'Breezewood',
 'Breezy Point',
 'Breinigsville',
 'Bremo Bluff',
 'Bremond',
 'Brentford',
 'Brenton',
 'Brethren',
 'Bretton Woods',
 'Bretz',
 'Brevig Mission',
 'Brewerton',
 'Brian Head',
 'Brice',
 'Bricelyn',
 'Briceville',
 'Brickeys',
 'Bridal Veil',
 'Bridgehampton',
 'Bridger',
 'Bridgeville',
 'Bridgewater Corners',
 'Bridgman',
 'Bridport',
 'Brielle',
 'Brier Hill',
 'Brierfield',
 'Briggs',
 'Briggsdale',
 'Briggsville',
 'Brightwaters',
 'Brightwood',
 'Brill',
 'Brilliant',
 'Brillion',
 'Brimfield',
 'Brimhall',
 'Brimley',
 'Brimson',
 'Bringhurst',
 'Brinkhaven',
 'Brinkley',
 'Brinklow',
 'Brinktown',
 'Brinnon',
 'Brinson',
 'Brisbane',
 'Brisbin',
 'Bristolville',
 'Bristow',
 'Britt',
 'Brittany',
 'Britton',
 'Brixey',
 'Broad Brook',
 'Broad Run',
 'Broad Top',
 'Broadbent',
 'Broaddus',
 'Broadford',
 'Broadus',
 'Broadway',
 'Brocket',
 'Brockway',
 'Brockwell',
 'Brocton',
 'Brodhead',
 'Brodheadsville',
 'Brodnax',
 'Brogan',
 'Brogue',
 'Brohard',
 'Brohman',
 'Brokaw',
 'Broken Bow',
 'Bromide',
 'Bronaugh',
 'Bronson',
 'Bronston',
 'Bronte',
 'Bronwood',
 'Brookeland',
 'Brooker',
 'Brookesmith',
 'Brookeville',
 'Brookland',
 'Brooklandville',
 'Brooklet',
 'Brookline Village',
 'Brookneal',
 'Brookport',
 'Brookston',
 'Brookton',
 'Brooktondale',
 'Brookwood',
 'Broomes Island',
 'Brooten',
 'Broseley',
 'Brothers',
 'Broughton',
 'Browder',
 'Browerville',
 'Brown City',
 'Brownell',
 'Browning',
 'Browns Summit',
 'Browns Valley',
 'Brownsboro',
 'Brownsdale',
 'Brownton',
 'Browntown',
 'Brownville Junction',
 'Broxton',
 'Bruce Crossing',
 'Bruceton',
 'Bruceton Mills',
 'Bruceville',
 'Bruin',
 'Bruington',
 'Brumley',
 'Brundidge',
 'Bruneau',
 'Bruner',
 'Bruni',
 'Bruning',
 'Bruno',
 'Brunson',
 'Brunsville',
 'Brusett',
 'Brush Creek',
 'Brush Prairie',
 'Brush Valley',
 'Brushton',
 'Brusly',
 'Brussels',
 'Brutus',
 'Bryant Pond',
 'Bryantown',
 'Bryants Store',
 'Bryantsville',
 'Bryantville',
 'Bryce',
 'Bryceville',
 'Bryn Athyn',
 'Bryson',
 'Bryson City',
 'Buchanan Dam',
 'Buchtel',
 'Buck Creek',
 'Buck Hill Falls',
 'Buckatunna',
 'Buckeye Lake',
 'Buckeystown',
 'Buckfield',
 'Buckhead',
 'Buckholts',
 'Buckhorn',
 'Buckland',
 'Bucklin',
 'Buckman',
 'Buckskin',
 'Bucksport',
 'Bucoda',
 'Bude',
 'Buffalo Center',
 'Buffalo Creek',
 'Buffalo Gap',
 'Buffalo Junction',
 'Buffalo Lake',
 'Buffalo Mills',
 'Buffalo Prairie',
 'Buffalo Valley',
 'Buhl',
 'Buhler',
 'Buies Creek',
 'Bulan',
 'Bulger',
 'Bull Shoals',
 'Bullard',
 'Bulls Gap',
 'Bullville',
 'Bulpitt',
 'Bumpass',
 'Bumpus Mills',
 'Buna',
 'Bunceton',
 'Bunch',
 'Bunker',
 'Bunker Hill',
 'Bunkerville',
 'Bunkie',
 'Bunn',
 'Bunnell',
 'Bunnlevel',
 'Bunola',
 'Buras',
 'Burchard',
 'Burden',
 'Burdett',
 'Burdette',
 'Burdick',
 'Burdine',
 'Burfordville',
 'Burgaw',
 'Burgess',
 'Burgettstown',
 'Burghill',
 'Burgin',
 'Burgoon',
 'Burkes Garden',
 'Burkesville',
 'Burket',
 'Burkett',
 'Burkettsville',
 'Burkeville',
 'Burkittsville',
 'Burlingham',
 'Burlington Flats',
 'Burlington Junction',
 'Burlison',
 'Burna',
 'Burnettsville',
 'Burney',
 'Burneyville',
 'Burnham',
 'Burnips',
 'Burns Flat',
 'Burnside',
 'Burnt Cabins',
 'Burnt Hills',
 'Burnt Prairie',
 'Burnt Ranch',
 'Burnwell',
 'Burr Hill',
 'Burr Oak',
 'Burrel',
 'Burrows',
 'Burrton',
 'Burson',
 'Burt Lake',
 'Burtrum',
 'Burwell',
 'Busby',
 'Bushland',
 'Bushnell',
 'Bushton',
 'Bushwood',
 'Buskirk',
 'Bussey',
 'Bustins Island',
 'Busy',
 'Butlerville',
 'Butte City',
 'Butte Des Morts',
 'Butte Falls',
 'Butterfield',
 'Butternut',
 'Buttonwillow',
 'Buttzville',
 'Buzzards Bay',
 'Byars',
 'Bybee',
 'Byers',
 'Byesville',
 'Byfield',
 'Byhalia',
 'Bylas',
 'Bynum',
 'Bypro',
 'Byrdstown',
 'Byrnedale',
 'Byromville',
 'CC',
 'CDA',
 'CMAFB',
 'CNB',
 'CC',
 'CDA',
 'CMAFB',
 'CNB',
 'CSI',
 'CSOC',
 'Caballo',
 'Cabazon',
 'Cabery',
 'Cabin Creek',
 'Cabin John',
 'Cabins',
 'Cable',
 'Cabool',
 'Cache Junction',
 'Cactus',
 'Caddo Gap',
 'Caddo Mills',
 'Cade',
 'Cades',
 'Cadet',
 'Cadiz',
 'Cadogan',
 'Cadott',
 'Cadwell',
 'Cadyville',
 'Cahone',
 'Cainsville',
 'Cairnbrook',
 'Cal Nev Ari',
 'Calabash',
 'Calais',
 'Calamus',
 'Calcium',
 'Calder',
 'Calhan',
 'Calhoun Falls',
 'Calico Rock',
 'Caliente',
 'Califon',
 'California Hot Springs',
 'Calion',
 'Callands',
 'Callao',
 'Callender',
 'Callensburg',
 'Callery',
 'Callicoon',
 'Callicoon Center',
 'Calliham',
 'Calmar',
 'Calpella',
 'Calpine',
 'Calvary',
 'Calvert City',
 'Calvin',
 'Calypso',
 'Camak',
 'Camanche',
 'Camano Island',
 'Camargo',
 'Camas Valley',
 'Cambra',
 'Cambria Heights',
 'Cambridge Springs',
 'Cambridgeport',
 'Camby',
 'Camden On Gauley',
 'Camden Point',
 'Camden Wyoming',
 'Camdenton',
 'Cameron Mills',
 'Camilla',
 'Camino',
 'Cammal',
 'Camp Creek',
 'Camp Crook',
 'Camp Dennison',
 'Camp Douglas',
 'Camp Grove',
 'Camp H M Smith',
 'Camp Lake',
 'Camp Lejeune',
 'Camp Meeker',
 'Camp Murray',
 'Camp Nelson',
 'Camp Point',
 'Camp Sherman',
 'Camp Wood',
 'Campaign',
 'Campbell Hall',
 'Campbell Hill',
 'Campbellsburg',
 'Campbellsport',
 'Campbellton',
 'Campbelltown',
 'Campo',
 'Campo Seco',
 'Campobello',
 'Campti',
 'Camptonville',
 'Camptown',
 'Campus',
 'Canaan',
 'Canada',
 'Canadensis',
 'Canadys',
 'Canajoharie',
 'Canal Point',
 'Canalou',
 'Canaseraga',
 'Canastota',
 'Candia',
 'Cando',
 'Candor',
 'Cane Valley',
 'Caneadea',
 'Canehill',
 'Caney',
 'Caneyville',
 'Canisteo',
 'Canistota',
 'Canjilon',
 'Canmer',
 'Cannel City',
 'Cannelburg',
 'Cannelton',
 'Cannon AFB',
 'Cannon Ball',
 'Cannon Beach',
 'Cannon Falls',
 'Cannonsburg',
 'Cannonville',
 'Canoga Park',
 'Canones',
 'Cantil',
 'Canton Center',
 'Cantonment',
 'Cantrall',
 'Cantril',
 'Cantua Creek',
 'Cantwell',
 'Canute',
 'Canvas',
 'Canyon Country',
 'Canyon Creek',
 'Canyon Dam',
 'Canyonville',
 'Capac',
 'Capay',
 'Cape Charles',
 'Cape Fair',
 'Cape May Point',
 'Cape Neddick',
 'Cape Porpoise',
 'Cape Vincent',
 'Capeville',
 'Capistrano Beach',
 'Capitan',
 'Capitol Heights',
 'Caplinger Mills',
 'Capon Bridge',
 'Capon Springs',
 'Caprock',
 'Capron',
 'Capshaw',
 'Captain Cook',
 'Captiva',
 'Capulin',
 'Caputa',
 'Caratunk',
 'Caraway',
 'Carbon Cliff',
 'Carbon Hill',
 'Carbonado',
 'Cardale',
 'Cardiff By The Sea',
 'Cardin',
 'Cardinal',
 'Cardington',
 'Cardwell',
 'Carefree',
 'Caret',
 'Carey',
 'Careywood',
 'Carle Place',
 'Carleton',
 'Carlock',
 'Carlos',
 'Carlotta',
 'Carlsborg',
 'Carlyle',
 'Carman',
 'Carmel By The Sea',
 'Carmel Valley',
 'Carmen',
 'Carmichaels',
 'Carmine',
 'Carnation',
 'Carnelian Bay',
 'Carnesville',
 'Caroga Lake',
 'Caroleen',
 ...]

In [ ]:
#the first data will come in pd1 and now im saving data in final_req
no_dat

In [ ]:
itemindex = numpy.where(final_locations==)

In [ ]:
#extra

In [41]:
final_req.head(5)

,Fact,Xpath,Mississippi,"Mississippi County, Arkansas","Mississippi County, Missouri","Missoula city, Montana","Missoula County, Montana","Mitchell city, South Dakota","Mitchellville CDP, Maryland","Mitchell County, Georgia",...,"Zebulon town, North Carolina","Zeeland city, Michigan","Zeeland charter township, Ottawa County, Michigan","Zephyrhills city, Florida","Zephyrhills South CDP, Florida","Zephyrhills West CDP, Florida","Zimmerman city, Minnesota","Zion city, Illinois","Zionsville town, Indiana","Zuni Pueblo CDP, New Mexico"
0,"Population estimates, July 1, 2019, (V2019)","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...","2,976,149","40,651","13,180","75,516","119,600","15,679",X,"21,863",...,"5,917","5,536","11,564","16,456",X,X,"5,995","23,487","28,357",X
1,"Population estimates base, April 1, 2010, (V2...","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...","2,968,130","46,481","14,376","67,358","109,296","15,285",X,"23,501",...,"4,459","5,502","9,971","13,859",X,X,"5,238","24,394","24,392",X
2,"Population, percent change - April 1, 2010 (es...","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...",0.3%,-12.5%,-8.3%,12.1%,9.4%,2.6%,X,-7.0%,...,32.7%,0.6%,16.0%,18.7%,X,X,14.5%,-3.7%,16.3%,X
3,"Population, Census, April 1, 2010","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...","2,967,297","46,480","14,358","66,788","109,299","15,254","10,967","23,498",...,"4,433","5,504","9,971","13,288","5,276","5,865","5,228","24,413","14,160","6,302"
4,"Persons under 5 years, percent","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...",6.2%,7.2%,5.3%,5.1%,5.0%,5.8%,6.1%,5.8%,...,11.1%,9.0%,6.3%,4.8%,4.0%,2.7%,6.9%,6.8%,7.4%,5.4%

In [42]:
final_req.to_csv(r'4761_rows.csv')

In [43]:
df1=final_req

In [44]:
df2=pd.read_csv(r'6954_rows.csv')

In [45]:
df1.drop(['Fact','Xpath'], axis=1, inplace=True)

In [47]:
df3=pd.concat([df1, df2], axis=1)

In [48]:
df3

,Mississippi,"Mississippi County, Arkansas","Mississippi County, Missouri","Missoula city, Montana","Missoula County, Montana","Mitchell city, South Dakota","Mitchellville CDP, Maryland","Mitchell County, Georgia","Mitchell County, Iowa","Mitchell County, Kansas",...,"Miner County, South Dakota","Mineral County, Colorado","Mineral County, Montana","Mineral County, Nevada","Mineral County, West Virginia","Mingo County, West Virginia","Minidoka County, Idaho","Minnehaha CDP, Washington","Minnehaha County, South Dakota","Missaukee County, Michigan"
0,"2,976,149","40,651","13,180","75,516","119,600","15,679",X,"21,863","10,586","5,979",...,"2,216",769,"4,397","4,505","26,868","23,424","21,039",X,"193,134",NaN
1,"2,968,130","46,481","14,376","67,358","109,296","15,285",X,"23,501","10,776","6,373",...,"2,389",712,"4,229","4,770","28,225","26,834","20,055",X,"169,474",NaN
2,0.3%,-12.5%,-8.3%,12.1%,9.4%,2.6%,X,-7.0%,-1.8%,-6.2%,...,-7.2%,8.0%,4.0%,-5.6%,-4.8%,-12.7%,4.9%,X,14.0%,NaN
3,"2,967,297","46,480","14,358","66,788","109,299","15,254","10,967","23,498","10,776","6,373",...,"2,389",712,"4,223","4,772","28,212","26,839","20,069","9,771","169,468",NaN
4,6.2%,7.2%,5.3%,5.1%,5.0%,5.8%,6.1%,5.8%,5.9%,6.3%,...,6.6%,4.0%,4.9%,6.0%,5.1%,6.3%,7.7%,7.1%,7.5%,NaN
5,23.5%,26.1%,20.8%,17.7%,18.6%,22.2%,21.5%,22.4%,23.7%,22.7%,...,24.0%,14.0%,18.2%,19.6%,19.8%,22.4%,28.6%,22.1%,25.2%,NaN
6,16.4%,15.0%,18.2%,12.5%,16.2%,16.9%,14.4%,16.9%,21.4%,24.2%,...,21.0%,33.6%,29.6%,25.4%,22.1%,19.8%,16.2%,12.0%,13.5%,NaN
7,51.5%,51.3%,45.9%,49.7%,50.0%,50.2%,54.1%,48.3%,50.3%,49.6%,...,48.1%,49.7%,48.8%,50.5%,50.2%,50.6%,50.0%,49.0%,49.4%,NaN
8,59.1%,61.8%,73.1%,91.2%,91.7%,92.0%,9.5%,49.3%,97.9%,96.7%,...,96.4%,97.0%,94.0%,68.6%,94.6%,96.3%,94.2%,79.2%,86.2%,NaN
9,37.8%,35.6%,24.8%,0.6%,0.5%,1.0%,81.0%,48.0%,0.6%,0.3%,...,0.8%,0.3%,0.5%,4.8%,3.0%,2.0%,0.8%,2.9%,6.1%,NaN
10,0.6%,0.5%,0.4%,2.0%,2.7%,2.4%,0.0%,0.6%,0.2%,0.5%,...,0.8%,1.0%,2.0%,18.2%,0.2%,0.1%,2.3%,0.8%,2.8%,NaN
11,1.1%,0.5%,0.3%,1.9%,1.8%,0.4%,3.1%,0.8%,0.5%,0.9%,...,0.5%,0.5%,0.7%,3.4%,0.6%,0.3%,0.6%,2.4%,2.1%,NaN
12,0.1%,Z,Z,0.2%,0.1%,0.0%,0.0%,0.1%,Z,0.2%,...,0.0%,0.0%,0.0%,0.2%,Z,Z,0.1%,1.9%,0.1%,NaN
13,1.3%,1.6%,1.4%,3.9%,3.1%,3.1%,3.6%,1.2%,0.8%,1.4%,...,1.5%,1.2%,2.7%,4.8%,1.6%,1.3%,1.9%,5.2%,2.5%,NaN
14,3.4%,4.4%,2.5%,3.4%,3.4%,2.9%,6.7%,4.8%,1.7%,2.7%,...,3.2%,6.2%,3.1%,13.2%,1.0%,0.9%,36.0%,11.8%,5.1%,NaN
15,56.4%,58.1%,71.0%,88.6%,89.1%,89.9%,6.0%,45.5%,96.4%,94.3%,...,93.8%,91.2%,91.5%,60.9%,93.7%,95.6%,61.3%,76.0%,82.0%,NaN
16,"168,996","2,237",839,"4,419","7,836","1,105",783,"1,313",781,487,...,129,72,565,595,"2,488","1,231",984,897,"10,541",NaN
17,2.3%,1.7%,0.5%,3.4%,2.9%,1.5%,17.3%,3.2%,0.8%,1.5%,...,1.8%,1.0%,2.8%,5.3%,0.6%,0.1%,15.4%,10.6%,7.2%,NaN
18,"1,339,021","20,563","5,732",X,"55,544",X,X,"9,087","5,006","3,304",...,"1,354","1,304","2,507","2,842","13,149","12,896","8,504",X,"85,661",NaN
19,68.2%,56.4%,59.5%,47.4%,58.7%,53.8%,91.4%,63.1%,82.7%,74.3%,...,79.3%,88.8%,73.0%,68.2%,72.0%,74.0%,71.7%,74.7%,63.7%,NaN
20,"$114,500","$82,700","$75,300","$262,500","$271,400","$141,200","$339,100","$86,200","$114,400","$85,300",...,"$75,000","$293,600","$166,000","$85,900","$135,100","$75,800","$136,800","$262,200","$173,400",NaN
21,"$1,134",$926,$791,"$1,559","$1,586","$1,121","$2,431","$1,104","$1,010",$973,...,"$1,139","$1,552","$1,264",$901,$945,$948,$973,"$1,547","$1,314",NaN
22,$357,$350,$374,$502,$487,$442,$793,$430,$399,$436,...,$401,$360,$363,$277,$331,$309,$316,$473,$482,NaN
23,$762,$609,$574,$813,$816,$716,"$2,209",$644,$565,$556,...,$549,$719,$587,$554,$623,$605,$644,"$1,322",$777,NaN
24,"6,952",83,6,X,664,X,X,12,46,0,...,3,24,1,0,40,0,59,X,"1,782",NaN
25,"1,105,576","16,888","5,040","31,393","48,608","7,038","3,595","7,889","4,397","2,616",...,973,375,"1,699","1,938","11,184","10,772","7,279","4,031","75,049",NaN
26,2.62,2.49,2.38,2.19,2.31,2.09,3.09,2.56,2.37,2.28,...,2.25,2.14,2.43,2.26,2.37,2.29,2.82,2.99,2.41,NaN
27,3.9%,3.9%,0.6%,5.4%,4.7%,2.5%,17.3%,6.1%,5.6%,2.6%,...,4.5%,3.1%,1.0%,14.5%,2.4%,0.5%,29.3%,15.8%,9.1%,NaN
28,83.9%,80.7%,74.5%,96.4%,95.5%,91.4%,96.1%,74.7%,89.9%,95.7%,...,88.1%,96.8%,89.2%,87.1%,90.9%,75.5%,78.4%,92.7%,92.2%,NaN
29,21.8%,12.8%,12.4%,47.7%,42.5%,25.0%,44.5%,11.1%,17.7%,25.3%,...,20.2%,39.9%,17.3%,14.4%,14.7%,9.5%,13.4%,23.8%,31.9%,NaN
30,11.8%,14.4%,15.4%,8.7%,9.0%,9.1%,5.5%,12.6%,7.3%,9.3%,...,6.5%,11.2%,12.6%,13.1%,14.4%,24.6%,9.4%,8.3%,7.5%,NaN
31,15.4%,7.9%,14.7%,8.4%,9.0%,7.4%,4.7%,17.7%,7.1%,9.5%,...,10.4%,10.3%,10.9%,12.0%,6.6%,9.2%,19.3%,9.4%,9.8%,NaN
32,"$43,567","$37,237","$32,846","$45,010","$51,270","$43,788","$118,444","$37,027","$55,553","$45,221",...,"$51,394","$61,058","$41,905","$41,163","$46,354","$31,305","$50,663","$80,072","$60,028",NaN
33,19.6%,25.7%,26.8%,18.3%,12.7%,14.3%,3.8%,29.3%,9.2%,11.4%,...,11.5%,9.3%,14.0%,21.1%,14.5%,27.0%,12.4%,10.0%,9.6%,NaN
34,"$23,434","$20,879","$18,462","$29,244","$30,636","$28,322","$44,458","$17,514","$28,898","$24,732",...,"$27,570","$35,229","$23,744","$22,897","$23,546","$19,025","$23,578","$30,861","$30,471",NaN
35,"59,271",772,277,X,"4,518",X,X,348,312,240,...,86,63,127,63,428,365,437,X,"5,779",NaN
36,"944,890","16,463","2,245",X,"51,140",X,X,"4,912","3,265","2,406",...,584,193,730,"1,169","6,239","3,232","5,220",X,"120,903",NaN
37,"36,775,694","769,121","71,015",X,"1,936,967",X,X,"152,153","122,983","79,262",...,"24,791","8,310","22,492","50,244","263,362","121,060","220,289",X,"5,710,974",NaN
38,0.6%,1.8%,5.6%,X,2.1%,X,X,0.3%,5.8%,-1.8%,...,11.5%,-3.0%,-5.2%,9.3%,1.8%,10.8%,3.2%,X,-0.2%,NaN
39,"222,159","2,309",579,X,"10,969",X,X,"1,443",853,617,...,209,162,350,160,"1,356",859,"1,250",X,"14,491",NaN
40,"235,454","2,351",833,"9,116","13,218","2,118","1,684","1,714","1,133",638,...,321,284,390,190,"1,630","1,237","1,623",652,"16,162",NaN
41,"125,079","1,112",417,"4,516","6,580","1,064",929,833,496,214,...,175,66,145,72,814,696,721,245,"8,889",NaN
42,"89,159",855,274,"2,810","4,142",602,570,662,375,271,...,62,144,135,88,633,407,472,281,"4,201",NaN
43,"74,824",618,147,310,448,41,"1,448",566,F,F,...,F,F,F,54,64,F,191,76,846,NaN
44,"155,094","1,572",640,"8,179","11,991","1,919",179,"1,096","1,094",597,...,302,275,367,118,"1,495","1,151","1,362",507,"14,334",NaN
45,"26,789",254,114,817,"1,215",182,146,119,54,41,...,38,F,F,F,199,107,93,32,"1,475",NaN
46,"198,566","1,811",616,"7,312","10,725","1,654","1,444","1,445","1,016",540,...,211,250,285,169,"1,262","1,063","1,416",581,"13,130",NaN
47,63.2,51.6,34.9,"2,427.6",42.1,"1,369.7","2,170.8",45.9,23.0,9.1,...,4.2,0.8,3.5,1.3,86.1,63.4,26.5,"4,397.4",210.0,NaN
48,"46,923.27",900.57,411.58,27.51,"2,593.42",11.14,5.05,512.09,469.13,701.79,...,570.31,875.67,"1,219.44","3,752.84",327.83,423.11,757.59,2.22,807.15,NaN
49,28,05093,29133,3050200,30063,4643100,2452975,13205,19131,20123,...,46097,08079,30061,32021,54057,54059,16067,5346125,46099,NaN

In [49]:
#returns column containg NAN
nan_values = df3.isna()
nan_columns = nan_values.any()

columns_with_nan = df3.columns[nan_columns].tolist()
print((columns_with_nan))

1360

In [53]:
for i in columns_with_nan:
    print(i)

Anthony city, New Mexico
AARP
ABAC
ABMPS
Alachua city, Florida
Albemarle County, Virginia
AMF
APG
ARP
Arthur County, Nebraska
Ashland town, Middlesex County, Massachusetts
ASU
Atchison County, Kansas
Aaronsburg
Abbot
Abbotsford
Abbott
Abbottstown
Abbyville
Abell
Abercrombie
Aberdeen Proving Ground
Abernant
Abernathy
Abie
Abiquiu
Abita Springs
Abrams
Absaraka
Absarokee
Acampo
Accident
Accord
Accoville
Ace
Achille
Achilles
Ackerly
Ackerman
Ackermanville
Ackley
Ackworth
Acme
Acosta
Acra
Adah
Adairsville
Adairville
Adak
Adamant
Adams Basin
Adams Center
Adams Run
Adamsburg
Adamsville
Addieville
Addington
Addis town, Louisiana
Addy
Addyston
Adell
Adelphia
Adena
Adger
Adin
Adirondack
Adkins
Admire
Adna
Adolph
Adolphus
Adona
Advance
Advent
Afton
Agar
Agate
Agency
Agenda
Ages Brookside
Agness
Agra
Agua Dulce
Aguanga
Aguila
Aguilar
Ah Gwah Ching
Ahmeek
Ahoskie
Ahsahka
Ahwahnee
Ailey
Aimwell
Ainsworth
Airville
Ajo
Akaska
Akeley
Akers
Akiachak
Akiak
Akutan
Aladdin
Alakanuk
Alamo CDP, California
Alanreed
Alanson
Alapaha
Albers
Albert City
Alberta
Alberton
Albia
Albin
Alborn
Albright
Albrightsville
Alburgh
Alburnett
Alburtis
Alcalde
Alcester
Alcolu
Alcova
Alcove
Alda
Alder Creek
Alderpoint
Alderson
Aldie
Aldrich
Aledo
Aleknagik
Aleppo
Alexandria Bay
Alexis
Alford
Alfred
Alfred Station
Algodones
Aliceville
Alicia
Alief
Aline
Alix
Alkol
Allakaket
Allamuchy
Allardt
Alledonia
Alleene
Alleman
Allen Junction
Allenhurst
Allenport
Allenspark
Allensville
Allenton
Allenwood
Allerton
Alleyton
Allgood
Alligator
Allons
Alloway
Alloy
Allport
Allred
Allston
Allyn
Alma Center
Almelund
Almira
Almond
Almyra
Alna
Alpaugh
Alplaus
Alsea
Alsen
Alsey
Alstead
Alston
Alta Vista
Altair
Altamahaw
Altaville
Altavista
Altenburg
Altha
Altheimer
Altmar
Alto Pass
Alton Bay
Altona
Altonah
Altura
Alturas
Altus AFB
Alum Bank
Alum Bridge
Alum Creek
Alva
Alvada
Alvadore
Alvarado
Alvaton
Alverda
Alverton
Alviso
Alvo
Alvord
Alvordton
Alzada
Amador City
Amagansett
Amagon
Amalia
Amana
Amanda
Amanda Park
Amargosa Valley
Amasa
Amawalk
Amazonia
Amber
Amberg
Amberson
Ambia
Amboy
Ambrose
Amelia Court House
Amenia
American Falls
Amery
Amesville
Amherst Junction
Amherstdale
Amidon
Amigo
Amissville
Amistad
Amlin
Amma
Amonate
Amoret
Amorita
Amston
Anabel
Anacoco
Anahola
Anahuac
Anaktuvuk Pass
Analomink
Anamoose
Anatone
Anawalt
Anchor Point
Anchorville
Ancona
Ancram
Ancramdale
Andale
Anderson Island
Andersonville
Andes
Andreas
Andrews Air Force Base
Aneta
Aneth
Angel Fire
Angela
Angelica
Angels Camp
Angelus Oaks
Angle Inlet
Angoon
Angora
Anguilla
Angwin
Aniak
Animas
Anita
Aniwa
Anmoore
Anna Maria
Annabella
Annada
Annandale On Hudson
Annapolis Junction
Annawan
Annemanie
Annona
Anselmo
Ansley
Ansonville
Ansted
Antes Fort
Antimony
Antler
Antlers
Antoine
Anton
Anton Chico
Antonito
Anvik
Anza
Apalachicola
Apalachin
Apison
Aplington
Appalachia
Apple Creek
Apple Grove
Apple River
Apple Springs
Applegate
Apulia Station
Aquasco
Aquashicola
Aquebogue
Aquilla
Arabi
Aragon
Ararat
Arbela
Arboles
Arbon
Arbovale
Arbuckle
Arbyrd
Arcade
Arcanum
Arch Cape
Archbold
Archer City
Archibald
Archie
Arco
Arcola
Arctic Village
Ardara
Ardenvoir
Ardsley
Ardsley On Hudson
Aredale
Arenas Valley
Arendtsville
Arenzville
Argenta
Argillite
Argonia
Argonne
Argos
Argusville
Argyle
Ariel
Arimo
Arion
Aripeka
Arispe
Aristes
Ariton
Arivaca
Arjay
Arkabutla
Arkansaw
Arkdale
Arkoma
Arkport
Arkville
Arlee
Arley
Armagh
Armbrust
Armington
Arminto
Armona
Armonk
Armorel
Armour
Armstrong Creek
Armuchee
Arnaudville
Arnegard
Arnett
Arnold AFB
Arnolds Park
Arnoldsburg
Arnoldsville
Arnot
Arock
Aroda
Aroma Park
Aromas
Arona
Arpin
Arrey
Arriba
Arrington
Arrow Rock
Arrowsmith
Arroyo Hondo
Arroyo Seco
Artemas
Artemus
Artesia Wells
Artesian
Arthur City
Arthurdale
Artie
Artois
Arverne
Arvilla
Arvonia
Ary
Ascutney
Ash Flat
Ash Fork
Ash Grove
Ashaway
Ashby
Ashcamp
Ashdown
Asher
Asherton
Ashfield
Ashford
Ashippun
Ashkum
Ashley Falls
Ashmore
Ashuelot
Ashville
Ashwood
Askov
Aspermont
Aspers
Aspinwall
Assaria
Assawoman
Assonet
Astatula
Atalissa
Atco
Atglen
Athelstane
Athena
Athol Springs
Atka
Atlantic Highlands
Atlantic Mine
Atlasburg
Atomic City
Atqasuk
Attapulgus
Attleboro Falls
Atwood
Au Gres
Au Sable Forks
Au Train
Auberry
Aubrey
Auburn University
Augusta Springs
Auke Bay
Aulander
Ault
Aultman
Aumsville
Aurelia
Auriesville
Austerlitz
Austinburg
Austinville
Austwell
Autaugaville
Autryville
Auxier
Auxvasse
Ava
Avalon
Avant
Avawam
Avella
Avenue
Avera
Averill
Averill Park
Avery Island
Avila Beach
Avilla
Avinger
Avis
Aviston
Avon By The Sea
Avondale Estates
Avonmore
Awendaw
Axis
Axson
Axtell
Axton
Aydlett
Aylett
Aynor
Ayr
Ayrshire
Azalia
B M G
Ballard County, Kentucky
Banner County, Nebraska
Bayamn zona urbana, Puerto Rico
Larsen
Larsen Bay
Larslan
Larwill
Lasara
Lascassas
Lashmeet
Lastrup
Latexo
Latham
Laton
Latonia
Latrobe borough, Pennsylvania
Latta
Lattimer Mines
Lattimore
Latty
Laughlin AFB
Laughlintown
Laupahoehoe
Laura
Laurel Bloomery
Laurel Fork
Laurel Springs
Laurelton
Laurelville
Laurie
Laurier
Laurys Station
Lava Hot Springs
Lavalette
Lavallette
Laveen
Lavelle
Lavina
Lavinia
Lavon
Lavonia
Lawai
Lawler
Lawley
Lawnside
Lawrenceburg city, Indiana
Lawrence County, Kentucky
Lawson
Lawsonville
Lawtell
Lawtey
Lawtons
Layland
Laytonville
Lazbuddie
Lazear
Le Center
Le Claire
Le Grand
Le Raysville
Leachville
Lead
Lead Hill
Leadore
Leadville
Leadwood
Leaf River
Leakesville
Leakey
Leamington
Leary
Leasburg
Leavittsburg
Lebam
Lebanon Junction
Lebeau
Lebec
Leblanc
Lebo
Leburn
Leck Kill
Leckrone
Lecompte
Lecompton
Lecontes Mills
Ledbetter
Lederach
Ledger
Ledgewood
Lee County, Kentucky
Lee Center
Lee Vining
Leechburg
Leedey
Leeds Point
Leeper
Lees Creek
Lees Summit
Leesport
Leeton
Leetonia
Leetsdale
Lefor
Lefors
Left Hand
Leggett
Lehigh Valley
Lehr
Leipsic
Leisenring
Leiter
Leiters Ford
Leivasy
Lejunior
Lelia Lake
Lemasters
Leming
Lemitar
Lemon Cove
Lemon Springs
Lemont Furnace
Lemoyne
Lempster
Lenapah
Lengby
Lenhartsville
Lenni
Lennon
Lenora
Lenorah
Lenore
Lenox Dale
Lenoxville
Lentner
Lenzburg
BB
Beaverton city, Oregon
Bedford town, Virginia
Bella Vista city, Arkansas
Blaine County, Nebraska
Borden County, Texas
Bracken County, Kentucky
Briscoe County, Texas
BTV
Burlington town, Middlesex County, Massachusetts
BVL
Babb
Babbitt
Babcock
Babson Park
Backus
Baconton
Bacova
Bad Axe
Baden
Badin
Bagdad
Baggs
Bagwell
Bahama
Bailey Island
Baileys Harbor
Baileyton
Baileyville
Bainville
Baird
Bairdford
Bairoil
Baisden
Bakers Mills
Bakerstown
Bakersville
Bakerton
Bakewell
Bala Cynwyd
Balaton
Bald Knob
Baldwin City
Baldwin Place
Baldwinville
Baldwyn
Balfour
Balko
Ball Ground
Ballantine
Ballentine
Ballico
Ballinger
Ballouville
Ballston Lake
Bally
Balm
Balmorhea
Balsam
Balsam Grove
Balsam Lake
Balta
Baltic
Banco
Bancroft
Bandana
Bandon
Bandy
Bangall
Bangs
Bankston
Banner Elk
Bannister
Banquete
Bantam
Bantry
Bapchule
Baptistown
Bar Mills
Barataria
Barbeau
Barberville
Barboursville
Barbourville
Barclay
Barco
Bardolph
Bardwell
Barhamsville
Baring
Barium Springs
Bark River
Barker
Barkhamsted
Barksdale
Barksdale AFB
Barlow
Barnard
Barnardsville
Barnegat Light
Barnes City
Barneston
Barnet
Barnett
Barneveld
Barney
Barnhill
Barnsdall
Barnstead
Barnum
Baroda
Barrackville
Barren Springs
Barrett
Barronett
Barryton
Barrytown
Barryville
Bartelso
Bartley
Barton City
Bartonsville
Barwick
Basalt
Basco
Bascom
Basile
Basin
Baskerville
Baskett
Baskin
Basking Ridge
Basom
Bass Harbor
Bass Lake
Bassett
Bassfield
Bastian
Basye
Bat Cave
Batchelor
Batchtown
Bates City
Batesland
Bath Springs
Bathgate
Batson
Battery Park
Battiest
Battle Lake
Battle Mountain
Battleboro
Battlement Mesa
Battletown
Baudette
Bausman
Bauxite
Baxley
Baxter Springs
Bayamn Municipio, Puerto Rico
Bay Pines
Bay Port
Bay Saint Louis
Bay Springs
Bayard
Bayboro
Baylis
Bayou La Batre
Bayside
Bayview
Bazine
Beach City
Beach Haven
Beach Lake
Beale AFB
Bealeton
Beallsville
Beals
Beaman
Bean Station
Bear Branch
Bear Mountain
Bear River City
Bearden
Beardsley
Bearsville
Beasley
Beason
Beattie
Beatty
Beattyville
Beauty
Beaver Bay
Beaver City
Beaver Creek
Beaver Crossing
Beaver Dams
Beaver Island
Beaver Meadows
Beaver Springs
Beaverdale
Beavertown
Beaverville
Beccaria
Bechtelsville
Beckemeyer
Beckville
Beckwourth
Bedford Hills
Bedford Park
Bedias
Bedrock
Bee Branch
Bee Spring
Beebe Plain
Beech Bluff
Beech Bottom
Beech Creek
Beech Island
Beecher City
Beecher Falls
Beechmont
Beedeville
Beeler
Beemer
Beersheba Springs
Beeson
Beetown
Beggs
Beirne
Bejou
Bel Alton
Belcamp
Belcourt
Belden
Beldenville
Belews Creek
Belfair
Belfield
Belford
Belfry
Belgium
Belgrade Lakes
Belhaven
Belington
Bell Buckle
Bellamy
Bellarthur
Belle Center
Belle Mead
Belle Mina
Belle Rive
Belle Rose
Belle Valley
Belle Vernon
Belleair Beach
Bellemont
Bellerose
Bellerose Village
Bellmont
Bellona
Bellows Falls
Bellport
Bells
Bellvale
Bellville
Bellvue
Belmond
Belmore
Belsano
Belspring
Belva
Belvedere Tiburon
Belvidere Center
Belview
Belvue
Belzoni
Bement
Bemus Point
Ben Bolt
Ben Franklin
Ben Hur
Ben Wheeler
Bena
Benavides
Bendena
Bendersville
Benedict
Benedicta
Benet Lake
Benezett
Benge
Benham
Benjamin
Benkelman
Benld
Benoit
Bent Mountain
Bentley
Bentleyville
Benton Ridge
Bentonia
Benwood
Benzonia
Berclair
Beresford
Berger
Bergheim
Bergholz
Bergland
Bergman
Bergoo
Bergton
Berino
Berkeley Springs
Berkey
Berlin Center
Berlin Heights
Bernardston
Berne
Bernhards Bay
Bernice
Bernie
Bernville
Berrien Center
Berrien Springs
Berry Creek
Berrysburg
Berryton
Bertha
Berthold
Bertram
Bertrand
Berwind
Beryl
Bessie
Bethania
Bethany Beach
Bethel Island
Bethel Springs
Bethelridge
Bethera
Bethesda CDP, Maryland
Bethune
Betsy Layne
Betterton
Bettles Field
Bettsville
Beulah
Beulaville
Beverly Shores
Bevier
Bevington
Bevinsville
Beyer
Bible School Park
Bickleton
Bickmore
Bicknell
Biddeford Pool
Biddle
Bidwell
Bieber
Big Arm
Big Bar
Big Bay
Big Bend
Big Bend National Park
Big Cabin
Big Clifty
Big Cove Tannery
Big Creek
Big Falls
Big Indian
Big Island
Big Laurel
Big Oak Flat
Big Pine
Big Pine Key
Big Piney
Big Pool
Big Prairie
Big Rock
Big Run
Big Sandy
Big Sky
Big Springs
Big Stone City
Big Sur
Big Timber
Big Wells
Bigelow
Bigfoot
Bigfork
Biggers
Biggs
Biggsville
Bighill
Bigler
Biglerville
Billingsley
Bim
Bimble
Binford
Bingen
Binger
Bingham Canyon
Bingham Lake
Biola
Bippus
Birch Harbor
Birch River
Birch Tree
Birchdale
Birchleaf
Birchrunville
Birchwood
Bird City
Bird In Hand
Bird Island
Birds Landing
Birdseye
Birdsnest
Birnamwood
Birney
Biscoe
Bishop
Bishop Hill
Bishopville
Bison
Bitely
Bittinger
Bivalve
Bivins
Biwabik
Blachly
Black Canyon City
Black Creek
Black Diamond
Black Eagle
Black Earth
Black Lick
Black Oak
Black River
Black River Falls
Black Rock
Blackburn
Blackduck
Blackey
Blackshear
Blackstock
Blacksville
Blackville
Blackwater
Blackwood
Bladenboro
Blairs Mills
Blairsburg
Blairsden-Graeagle
Blairsville
Blakely Island
Blakesburg
Blakeslee
Blanca
Blanchardville
Blanchester
Blandburg
Blandford
Blanding
Blandinsville
Blanford
Blanket
Blawenburg
Bleiblerville
Blencoe
Blenheim
Blenker
Blessing
Blevins
Blissfield
Block Island
Blocker
Blocksburg
Blockton
Blodgett
Blodgett Mills
Blomkest
Bloomburg
Bloomdale
Bloomer
Bloomery
Bloomfield Hills
Blooming Glen
Blooming Prairie
Bloomingburg
Bloomingrose
Bloomington Springs
Bloomsbury
Bloomsdale
Bloomville
Blossburg
Blossom
Blossvale
Blounts Creek
Blountstown
Blountsville
Blountville
Blowing Rock
Bloxom
Blue Ball
Blue Creek
Blue Diamond
Blue Eye
Blue Gap
Blue Grass
Blue Hill
Blue Jay
Blue Lake
Blue Mound
Blue Mounds
Blue Mountain
Blue Mountain Lake
Blue Point
Blue Rapids
Blue Ridge
Blue Ridge Summit
Blue River
Blue Rock
Bluegrove
Bluejacket
Bluemont
Bluewater
Bluff City
Bluff Dale
Bluff Springs
Bluffs
Bluford
Blum
Blunt
Blythedale
Blythewood
Boalsburg
Board Camp
Bob White
Bobtown
Boca Grande
Bock
Bode
Bodega
Bodega Bay
Bodfish
Boelus
Bogard
Bogart
Bogata
Boggstown
Bogue
Bogue Chitto
Branson city, Missouri
Bridgeview village, Illinois
Brookhaven city, Georgia
Calhoun County, West Virginia
Campanilla comunidad, Puerto Rico
Campbell County, Kentucky
Campbell County, Wyoming
Cape Girardeau County, Missouri
Carlisle County, Kentucky
Carroll city, Iowa
Carroll County, Mississippi
Catron County, New Mexico
Cherry Hill Mall CDP, New Jersey
Cherryville city, North Carolina
Cherry Hill township, Camden County, New Jersey
Chesapeake city, Virginia
Cibola County, New Mexico
Claiborne Parish, Louisiana
Clayton borough, New Jersey
Coalinga city, California
Crockett County, Texas
Canonsburg borough, Pennsylvania
Carlstadt borough, New Jersey
Cave Springs city, Arkansas
Chalmette CDP, Louisiana
Coldwater city, Michigan
De Baca County, New Mexico
Decatur city, Indiana
Denali Borough, Alaska
Dewey County, Oklahoma
Dickens County, Texas
Duval County, Texas
Diamondhead city, Mississippi
Doraville city, Georgia
Dripping Springs city, Texas
Edmonson County, Kentucky
Edwards County, Illinois
Edwards County, Texas
Elk County, Kansas
Elliott County, Kentucky
Esmeralda County, Nevada
Eureka County, Nevada
Easley city, South Carolina
East Hampton town, Suffolk County, New York
Elmwood Park village, Illinois
Emporia city, Kansas
Espaola city, New Mexico
Estero village, Florida
Fisher County, Texas
Flathead County, Montana
Florence-Graham CDP, California
Florence County, South Carolina
Floyd County, Virginia
Foard County, Texas
Fords CDP, New Jersey
Ford County, Illinois
Forest Acres city, South Carolina
Forest City CDP, Florida
Forest Glen CDP, Maryland
Forest Hill city, Texas
Forest Park village, Illinois
Forestville CDP, Maryland
Forestdale CDP, Alabama
Forest County, Pennsylvania
Forsyth township, Marquette County, Michigan
Fountain Hills town, Arizona
Fountainhead-Orchard Hills CDP, Maryland
Franklin Park village, Illinois
Fenton charter township, Genesee County, Michigan
Flagstaff city, Arizona
Flint charter township, Genesee County, Michigan
Flushing charter township, Genesee County, Michigan
Fort Payne city, Alabama
Fox Crossing village, Wisconsin
Framingham city, Massachusetts
Gallatin County, Illinois
Gilliam County, Oregon
Glascock County, Georgia
Glasscock County, Texas
Golden Valley County, Montana
Gooding County, Idaho
Granite County, Montana
Grant County, Oregon
Greenville CDP, Rhode Island
Greene County, Indiana
Guadalupe County, New Mexico
Hamilton County, Illinois
Harding County, New Mexico
Harmon County, Oklahoma
Harrison village, Wisconsin
Hartley County, Texas
Hickman County, Kentucky
Hickory County, Missouri
Hidalgo County, New Mexico
Highland Lakes CDP, New Jersey
Hudspeth County, Texas
Hercules city, California
Holbrook CDP, Massachusetts
Holden town, Worcester County, Massachusetts
Issaquena County, Mississippi
Indiantown village, Florida
Jeff Davis County, Texas
Jefferson County, Oklahoma
Jim Hogg County, Texas
Johnson County, Texas
Johnston city, Iowa
Johnston town, Providence County, Rhode Island
Jonesborough town, Tennessee
Judith Basin County, Montana
Jericho CDP, New York
Johnstown village, Ohio
Kemper County, Mississippi
Kendall CDP, Florida
Kenedy County, Texas
Kent County, Texas
King County, Texas
Knott County, Kentucky
La Homa CDP, Texas
La Puente city, California
Lake Alfred city, Florida
Lake City city, Florida
Lake and Peninsula Borough, Alaska
Lapeer city, Michigan
Leslie County, Kentucky
Liberty County, Montana
Livingston County, Kentucky
Logan County, Nebraska
Loving County, Texas
Lakewood township, Ocean County, New Jersey
Levelland city, Texas
Lincroft CDP, New Jersey
Lionville CDP, Pennsylvania
Lockhart CDP, Florida
London city, Kentucky
Lone Grove city, Oklahoma
Lumberton city, Texas
Madison County, Idaho
Magoffin County, Kentucky
Manistee city, Michigan
Marlboro township, Monmouth County, New Jersey
Martinsville city, Virginia
Martin County, Florida
Martin County, Indiana
Martin County, Kentucky
Mason County, Illinois
Mason County, Kentucky
McDonough County, Illinois
McLean County, Kentucky
McLeod County, Minnesota
McMullen County, Texas
McPherson County, Nebraska
Meagher County, Montana
Menard County, Texas
Menifee County, Kentucky
Metcalfe County, Kentucky
Mills County, Texas
Missaukee County, Michigan

In [52]:
type(columns_with_nan)

list

In [71]:
#now all values which could not be taken will ,be scrapped in finalreq
final_req.head(5)

,Fact,Xpath,"Anthony city, New Mexico","Alachua city, Florida","Albemarle County, Virginia","Arthur County, Nebraska","Ashland town, Middlesex County, Massachusetts","Atchison County, Kansas","Alamo CDP, California","Ballard County, Kentucky",...,"McLean County, Kentucky","McLeod County, Minnesota","McMullen County, Texas","McPherson County, Nebraska","Meagher County, Montana","Menard County, Texas","Menifee County, Kentucky","Metcalfe County, Kentucky","Mills County, Texas","Missaukee County, Michigan"
0,"Population estimates, July 1, 2019, (V2019)","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...","9,239","9,899","109,330",463,"17,807","16,073",X,"7,888",...,"9,207","35,893",743,494,"1,862","2,138","6,489","10,071","4,873","15,118"
1,"Population estimates base, April 1, 2010, (V2...","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...","9,467","9,041","98,998",460,"16,615","16,921",X,"8,246",...,"9,540","36,645",707,539,"1,891","2,242","6,309","10,116","4,941","14,851"
2,"Population, percent change - April 1, 2010 (es...","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...",-2.4%,9.5%,10.4%,0.7%,7.2%,-5.0%,X,-4.3%,...,-3.5%,-2.1%,5.1%,-8.3%,-1.5%,-4.6%,2.9%,-0.4%,-1.4%,1.8%
3,"Population, Census, April 1, 2010","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...",X,"9,059","98,970",460,"16,593","16,924","14,570","8,249",...,"9,531","36,651",707,539,"1,891","2,242","6,306","10,099","4,936","14,849"
4,"Persons under 5 years, percent","//*[@id=""qfcontent""]/div[5]/div/table[2]/tbody...",10.1%,9.2%,5.2%,5.2%,6.3%,5.6%,2.2%,5.0%,...,5.6%,5.7%,5.4%,2.8%,4.7%,4.0%,4.8%,6.1%,4.2%,6.3%

In [72]:
#returns column containg NAN
nan_values = final_req.isna()
nan_columns = nan_values.any()

columns_with_nan = final_req.columns[nan_columns].tolist()
print((columns_with_nan))

[]

In [73]:
final_req.drop(['Fact','Xpath'], axis=1, inplace=True)

,"Anthony city, New Mexico","Alachua city, Florida","Albemarle County, Virginia","Arthur County, Nebraska","Ashland town, Middlesex County, Massachusetts","Atchison County, Kansas","Alamo CDP, California","Ballard County, Kentucky","Banner County, Nebraska","Latrobe borough, Pennsylvania",...,"McLean County, Kentucky","McLeod County, Minnesota","McMullen County, Texas","McPherson County, Nebraska","Meagher County, Montana","Menard County, Texas","Menifee County, Kentucky","Metcalfe County, Kentucky","Mills County, Texas","Missaukee County, Michigan"
0,"9,239","9,899","109,330",463,"17,807","16,073",X,"7,888",745,"7,830",...,"9,207","35,893",743,494,"1,862","2,138","6,489","10,071","4,873","15,118"
1,"9,467","9,041","98,998",460,"16,615","16,921",X,"8,246",690,"8,333",...,"9,540","36,645",707,539,"1,891","2,242","6,309","10,116","4,941","14,851"
2,-2.4%,9.5%,10.4%,0.7%,7.2%,-5.0%,X,-4.3%,8.0%,-6.0%,...,-3.5%,-2.1%,5.1%,-8.3%,-1.5%,-4.6%,2.9%,-0.4%,-1.4%,1.8%
3,X,"9,059","98,970",460,"16,593","16,924","14,570","8,249",690,NA,...,"9,531","36,651",707,539,"1,891","2,242","6,306","10,099","4,936","14,849"
4,10.1%,9.2%,5.2%,5.2%,6.3%,5.6%,2.2%,5.0%,7.5%,4.8%,...,5.6%,5.7%,5.4%,2.8%,4.7%,4.0%,4.8%,6.1%,4.2%,6.3%
5,34.1%,28.0%,19.7%,25.3%,23.0%,22.8%,23.9%,20.9%,24.4%,19.9%,...,23.5%,22.8%,19.8%,18.2%,18.7%,18.1%,18.4%,23.4%,20.4%,22.9%
6,8.0%,13.3%,19.3%,21.4%,14.8%,17.6%,22.4%,21.9%,24.0%,19.6%,...,20.0%,19.1%,25.4%,24.1%,31.6%,32.7%,21.4%,19.4%,29.1%,20.7%
7,52.1%,53.7%,52.1%,51.0%,51.1%,51.4%,48.3%,50.3%,51.5%,48.8%,...,50.8%,50.0%,47.2%,50.8%,48.8%,50.1%,49.4%,50.6%,50.0%,49.6%
8,89.2%,68.0%,81.8%,97.2%,82.9%,90.9%,85.2%,93.2%,97.6%,97.4%,...,97.1%,96.6%,93.5%,98.4%,96.8%,95.1%,95.4%,96.6%,96.1%,96.2%
9,0.3%,28.3%,9.7%,0.0%,2.7%,4.8%,0.8%,3.4%,1.3%,0.5%,...,0.9%,0.8%,2.4%,0.4%,0.5%,1.7%,2.8%,1.8%,1.2%,0.6%
10,0.8%,1.1%,0.4%,0.4%,0.1%,0.8%,0.2%,0.4%,0.3%,0.0%,...,0.4%,0.5%,0.5%,0.0%,0.7%,1.7%,0.2%,0.3%,1.0%,0.8%
11,0.6%,0.8%,5.5%,0.2%,10.3%,0.7%,7.8%,0.5%,0.3%,1.0%,...,0.3%,0.8%,0.7%,0.0%,0.4%,0.2%,0.2%,0.3%,0.4%,0.7%
12,0.0%,0.0%,0.1%,0.0%,0.0%,0.1%,0.1%,0.1%,0.0%,0.0%,...,Z,0.1%,0.0%,0.0%,0.0%,0.0%,Z,Z,Z,Z
13,0.0%,1.6%,2.6%,2.2%,2.2%,2.8%,4.2%,2.4%,0.5%,1.0%,...,1.3%,1.2%,2.8%,1.2%,1.5%,1.3%,1.3%,1.1%,1.3%,1.7%
14,98.4%,7.5%,5.8%,4.3%,7.1%,3.2%,6.4%,1.5%,5.8%,0.0%,...,1.8%,6.6%,42.1%,1.4%,1.8%,37.0%,1.2%,2.1%,18.3%,3.0%
15,1.0%,61.6%,76.9%,94.2%,78.1%,88.2%,80.9%,92.0%,91.8%,97.4%,...,95.6%,90.5%,53.8%,97.0%,95.3%,59.9%,94.5%,94.7%,79.2%,93.8%
16,63,584,"6,503",21,892,981,785,621,41,568,...,601,"2,464",34,37,126,183,303,651,427,"1,025"
17,30.9%,7.8%,10.8%,0.5%,21.3%,1.2%,12.4%,2.1%,1.3%,0.7%,...,0.8%,3.2%,2.3%,0.0%,1.6%,7.3%,0.1%,1.4%,6.7%,1.6%
18,X,X,"47,081",253,X,"6,947",X,"3,924",366,X,...,"4,298","16,043",499,281,"1,447","1,721","3,807","4,753","2,876","9,294"
19,57.4%,70.0%,62.5%,67.9%,81.6%,68.4%,93.4%,79.8%,73.1%,65.6%,...,78.5%,76.5%,73.1%,68.5%,71.0%,63.9%,82.6%,77.2%,81.5%,81.4%
20,"$98,700","$166,800","$344,500","$104,600","$386,400","$101,600","$1,606,800","$99,800","$136,000","$112,200",...,"$98,500","$157,900","$106,600","$119,300","$155,000","$57,000","$78,600","$78,300","$123,400","$111,400"
21,$737,"$1,366","$1,817","$1,500","$2,415","$1,087","$4,000+",$963,"$1,295","$1,014",...,"$1,013","$1,288","$1,250","$1,083","$1,155",$769,$773,$963,$966,"$1,002"
22,$294,$510,$513,$425,"$1,003",$466,"$1,430",$321,$543,$402,...,$349,$503,$419,$315,$430,$451,$281,$285,$425,$398
23,$596,"$1,023","$1,244",$525,"$1,340",$675,"$2,961",$609,$475,$605,...,$557,$789,$813,$714,$625,$613,$594,$491,$481,$765
24,X,X,948,NA,X,4,X,NA,NA,X,...,2,90,NA,0,NA,NA,NA,NA,NA,21
25,"2,745","3,687","40,612",193,"6,685","5,980","5,223","3,085",279,"3,563",...,"3,818","14,884",223,203,749,992,"2,593","3,998","1,750","6,027"
26,3.41,2.65,2.43,2.17,2.62,2.49,2.92,2.58,2.49,2.25,...,2.42,2.38,2.97,2.23,2.59,2.09,2.44,2.47,2.71,2.46
27,84.4%,9.9%,11.7%,1.0%,25.6%,1.4%,11.2%,3.6%,4.9%,1.5%,...,0.9%,6.1%,11.3%,0.0%,1.4%,23.7%,0.5%,2.5%,15.6%,3.4%
28,56.1%,92.9%,91.4%,94.3%,95.7%,92.4%,98.6%,85.2%,97.1%,94.0%,...,87.2%,93.0%,90.3%,89.1%,94.6%,81.6%,76.3%,76.9%,80.5%,88.8%
29,5.7%,37.4%,53.5%,27.9%,60.1%,21.9%,75.5%,13.3%,20.7%,24.0%,...,12.0%,17.9%,23.3%,24.9%,26.1%,17.8%,11.3%,13.1%,18.2%,13.2%
30,6.6%,7.9%,5.3%,5.1%,4.5%,10.4%,5.2%,11.6%,12.3%,12.1%,...,13.4%,7.5%,13.0%,3.4%,7.3%,14.2%,17.1%,18.5%,16.9%,14.3%
31,20.7%,8.2%,9.7%,13.0%,1.4%,7.3%,1.9%,6.7%,9.4%,5.5%,...,6.9%,4.9%,14.1%,11.0%,10.6%,28.3%,6.7%,7.0%,26.9%,9.5%
32,"$23,378","$59,816","$75,394","$43,854","$121,406","$48,667","$230,568","$44,350","$59,625","$52,098",...,"$50,445","$61,275","$68,750","$48,882","$43,109","$40,606","$39,905","$35,809","$41,827","$44,766"
33,45.5%,18.0%,8.7%,12.9%,3.7%,15.5%,4.2%,15.3%,12.5%,9.4%,...,13.9%,7.1%,11.1%,11.6%,15.9%,21.6%,26.4%,23.3%,14.6%,12.9%
34,"$10,474","$33,911","$42,085","$26,514","$52,652","$24,224","$99,143","$25,571","$34,670","$28,339",...,"$24,557","$31,723","$32,556","$26,384","$23,972","$25,067","$19,825","$19,436","$24,274","$22,850"
35,X,X,"2,841",12,X,359,X,134,7,X,...,166,953,46,6,75,44,53,113,113,303
36,X,X,"42,339",62,X,"5,443",X,"1,163",38,X,...,"1,178","15,507",470,22,318,204,462,"1,264",867,"2,289"
37,X,X,"2,068,853","2,026",X,"199,223",X,"46,839","1,253",X,...,"51,273","680,994","50,537",433,"8,941","6,040","14,497","38,715","25,703","78,887"
38,X,X,1.7%,0.0%,X,1.9%,X,10.2%,-17.4%,X,...,-7.3%,-0.5%,-10.1%,-8.3%,1.9%,15.9%,-11.8%,3.9%,1.4%,-4.0%
39,X,X,"9,931",52,X,854,X,476,50,X,...,524,"2,432",132,51,186,290,403,838,497,"1,149"
40,"1,181","1,062","11,062",65,"1,941",925,"2,030",638,37,F,...,738,"3,006",185,45,176,309,357,"1,044",369,"1,442"
41,622,544,"5,716",54,"1,349",469,"1,042",253,F,F,...,427,"1,527",120,39,102,221,173,549,227,984
42,496,365,"3,967",F,537,192,619,318,F,F,...,192,"1,074",F,F,41,64,168,258,70,298
43,"1,032",206,"1,236",F,352,52,350,64,F,F,...,F,61,48,F,F,106,F,32,47,F
44,116,797,"9,370",57,"1,555",759,"1,627",542,37,F,...,713,"2,811",115,44,156,181,337,954,307,"1,390"
45,66,132,"1,306",F,181,133,93,52,F,F,...,50,274,F,38,50,60,40,66,39,228
46,"1,086",835,"8,936",57,"1,724",667,"1,888",554,34,F,...,665,"2,512",175,F,112,242,301,916,264,"1,166"
47,NA,260.7,137.3,0.6,"1,345.7",39.3,"1,507.2",33.4,0.9,NA,...,37.8,74.6,0.6,0.6,0.8,2.5,31.0,34.9,6.6,26.3
48,NA,34.75,720.70,715.36,12.33,431.17,9.67,246.66,746.11,NA,...,252.47,491.47,"1,139.43",858.98,"2,391.91",902.03,203.59,289.65,748.26,564.73
49,3503820,1200375,51003,31005,2501702130,20005,0600618,21007,31007,4241680,...,21149,27085,48311,31117,30059,48327,21165,21169,48333,26113

In [75]:
df3.head()

,Mississippi,"Mississippi County, Arkansas","Mississippi County, Missouri","Missoula city, Montana","Missoula County, Montana","Mitchell city, South Dakota","Mitchellville CDP, Maryland","Mitchell County, Georgia","Mitchell County, Iowa","Mitchell County, Kansas",...,"Miner County, South Dakota","Mineral County, Colorado","Mineral County, Montana","Mineral County, Nevada","Mineral County, West Virginia","Mingo County, West Virginia","Minidoka County, Idaho","Minnehaha CDP, Washington","Minnehaha County, South Dakota","Missaukee County, Michigan"
0,"2,976,149","40,651","13,180","75,516","119,600","15,679",X,"21,863","10,586","5,979",...,"2,216",769,"4,397","4,505","26,868","23,424","21,039",X,"193,134",NaN
1,"2,968,130","46,481","14,376","67,358","109,296","15,285",X,"23,501","10,776","6,373",...,"2,389",712,"4,229","4,770","28,225","26,834","20,055",X,"169,474",NaN
2,0.3%,-12.5%,-8.3%,12.1%,9.4%,2.6%,X,-7.0%,-1.8%,-6.2%,...,-7.2%,8.0%,4.0%,-5.6%,-4.8%,-12.7%,4.9%,X,14.0%,NaN
3,"2,967,297","46,480","14,358","66,788","109,299","15,254","10,967","23,498","10,776","6,373",...,"2,389",712,"4,223","4,772","28,212","26,839","20,069","9,771","169,468",NaN
4,6.2%,7.2%,5.3%,5.1%,5.0%,5.8%,6.1%,5.8%,5.9%,6.3%,...,6.6%,4.0%,4.9%,6.0%,5.1%,6.3%,7.7%,7.1%,7.5%,NaN

In [76]:
df4=pd.concat([df3, final_req], axis=1)

In [77]:
df4.head()

,Mississippi,"Mississippi County, Arkansas","Mississippi County, Missouri","Missoula city, Montana","Missoula County, Montana","Mitchell city, South Dakota","Mitchellville CDP, Maryland","Mitchell County, Georgia","Mitchell County, Iowa","Mitchell County, Kansas",...,"McLean County, Kentucky","McLeod County, Minnesota","McMullen County, Texas","McPherson County, Nebraska","Meagher County, Montana","Menard County, Texas","Menifee County, Kentucky","Metcalfe County, Kentucky","Mills County, Texas","Missaukee County, Michigan"
0,"2,976,149","40,651","13,180","75,516","119,600","15,679",X,"21,863","10,586","5,979",...,"9,207","35,893",743,494,"1,862","2,138","6,489","10,071","4,873","15,118"
1,"2,968,130","46,481","14,376","67,358","109,296","15,285",X,"23,501","10,776","6,373",...,"9,540","36,645",707,539,"1,891","2,242","6,309","10,116","4,941","14,851"
2,0.3%,-12.5%,-8.3%,12.1%,9.4%,2.6%,X,-7.0%,-1.8%,-6.2%,...,-3.5%,-2.1%,5.1%,-8.3%,-1.5%,-4.6%,2.9%,-0.4%,-1.4%,1.8%
3,"2,967,297","46,480","14,358","66,788","109,299","15,254","10,967","23,498","10,776","6,373",...,"9,531","36,651",707,539,"1,891","2,242","6,306","10,099","4,936","14,849"
4,6.2%,7.2%,5.3%,5.1%,5.0%,5.8%,6.1%,5.8%,5.9%,6.3%,...,5.6%,5.7%,5.4%,2.8%,4.7%,4.0%,4.8%,6.1%,4.2%,6.3%

In [101]:
#returns column containg NAN
nan_values = df6.isna()
nan_columns = nan_values.any()

columns_with_nan = df6.columns[nan_columns].tolist()
print((columns_with_nan))

['Anthony city, New Mexico', 'Arthur County, Nebraska', 'Ballard County, Kentucky', 'Banner County, Nebraska', 'Latrobe borough, Pennsylvania', 'Lawrence County, Kentucky', 'Lee County, Kentucky', 'Bedford town, Virginia', 'Bella Vista city, Arkansas', 'Blaine County, Nebraska', 'Borden County, Texas', 'Bracken County, Kentucky', 'Briscoe County, Texas', 'Brookhaven city, Georgia', 'Calhoun County, West Virginia', 'Carlisle County, Kentucky', 'Carroll County, Mississippi', 'Catron County, New Mexico', 'Cibola County, New Mexico', 'Crockett County, Texas', 'Cave Springs city, Arkansas', 'De Baca County, New Mexico', 'Denali Borough, Alaska', 'Dewey County, Oklahoma', 'Dickens County, Texas', 'Duval County, Texas', 'Diamondhead city, Mississippi', 'Edmonson County, Kentucky', 'Edwards County, Illinois', 'Edwards County, Texas', 'Elk County, Kansas', 'Elliott County, Kentucky', 'Esmeralda County, Nevada', 'Eureka County, Nevada', 'Estero village, Florida', 'Fisher County, Texas', 'Fox Crossing village, Wisconsin', 'Framingham city, Massachusetts', 'Gallatin County, Illinois', 'Gilliam County, Oregon', 'Glascock County, Georgia', 'Glasscock County, Texas', 'Golden Valley County, Montana', 'Granite County, Montana', 'Grant County, Oregon', 'Greene County, Indiana', 'Guadalupe County, New Mexico', 'Hamilton County, Illinois', 'Harding County, New Mexico', 'Harmon County, Oklahoma', 'Harrison village, Wisconsin', 'Hartley County, Texas', 'Hickman County, Kentucky', 'Hickory County, Missouri', 'Hidalgo County, New Mexico', 'Highland Lakes CDP, New Jersey', 'Hudspeth County, Texas', 'Issaquena County, Mississippi', 'Indiantown village, Florida', 'Jeff Davis County, Texas', 'Jefferson County, Oklahoma', 'Jim Hogg County, Texas', 'Judith Basin County, Montana', 'Kemper County, Mississippi', 'Kenedy County, Texas', 'Kent County, Texas', 'King County, Texas', 'Knott County, Kentucky', 'Lake and Peninsula Borough, Alaska', 'Leslie County, Kentucky', 'Liberty County, Montana', 'Livingston County, Kentucky', 'Logan County, Nebraska', 'Loving County, Texas', 'Magoffin County, Kentucky', 'Martin County, Kentucky', 'McMullen County, Texas', 'Meagher County, Montana', 'Menard County, Texas', 'Menifee County, Kentucky', 'Metcalfe County, Kentucky', 'Mills County, Texas']

In [84]:
#delete all columns with nan
df5=df4.dropna(axis=1, how='all')

In [111]:
df5.head()#contains all data

,Mississippi,"Mississippi County, Arkansas","Mississippi County, Missouri","Missoula city, Montana","Missoula County, Montana","Mitchell city, South Dakota","Mitchellville CDP, Maryland","Mitchell County, Georgia","Mitchell County, Iowa","Mitchell County, Kansas",...,"McLean County, Kentucky","McLeod County, Minnesota","McMullen County, Texas","McPherson County, Nebraska","Meagher County, Montana","Menard County, Texas","Menifee County, Kentucky","Metcalfe County, Kentucky","Mills County, Texas","Missaukee County, Michigan"
0,"2,976,149","40,651","13,180","75,516","119,600","15,679",X,"21,863","10,586","5,979",...,"9,207","35,893",743,494,"1,862","2,138","6,489","10,071","4,873","15,118"
1,"2,968,130","46,481","14,376","67,358","109,296","15,285",X,"23,501","10,776","6,373",...,"9,540","36,645",707,539,"1,891","2,242","6,309","10,116","4,941","14,851"
2,0.3%,-12.5%,-8.3%,12.1%,9.4%,2.6%,X,-7.0%,-1.8%,-6.2%,...,-3.5%,-2.1%,5.1%,-8.3%,-1.5%,-4.6%,2.9%,-0.4%,-1.4%,1.8%
3,"2,967,297","46,480","14,358","66,788","109,299","15,254","10,967","23,498","10,776","6,373",...,"9,531","36,651",707,539,"1,891","2,242","6,306","10,099","4,936","14,849"
4,6.2%,7.2%,5.3%,5.1%,5.0%,5.8%,6.1%,5.8%,5.9%,6.3%,...,5.6%,5.7%,5.4%,2.8%,4.7%,4.0%,4.8%,6.1%,4.2%,6.3%

In [96]:
xdf5_copy=df5

In [100]:
df6=df5.loc[:, ~df5.isnull().all()]

In [104]:
df5['Anthony city, New Mexico'].head(5)

  Anthony city, New Mexico Anthony city, New Mexico
0                    9,239                    9,239
1                    9,467                    9,467
2                    -2.4%                    -2.4%
3                        X                        X
4                    10.1%                    10.1%

# df5 conatins all data

In [110]:
del df5['Xpath']

In [113]:
df6 = df5.loc[:,~df5.columns.duplicated()]

In [114]:
df6.head(5)#conatins all data

,Mississippi,"Mississippi County, Arkansas","Mississippi County, Missouri","Missoula city, Montana","Missoula County, Montana","Mitchell city, South Dakota","Mitchellville CDP, Maryland","Mitchell County, Georgia","Mitchell County, Iowa","Mitchell County, Kansas",...,"Lapeer city, Michigan","Lakewood township, Ocean County, New Jersey","Levelland city, Texas","Lincroft CDP, New Jersey","Lionville CDP, Pennsylvania","Lockhart CDP, Florida","London city, Kentucky","Lone Grove city, Oklahoma","Lumberton city, Texas","Missaukee County, Michigan"
0,"2,976,149","40,651","13,180","75,516","119,600","15,679",X,"21,863","10,586","5,979",...,"8,535","106,300","13,502",X,X,X,"8,068","5,121","13,073","15,118"
1,"2,968,130","46,481","14,376","67,358","109,296","15,285",X,"23,501","10,776","6,373",...,"8,826","92,799","13,555",X,X,X,"7,985","4,829","11,972","14,851"
2,0.3%,-12.5%,-8.3%,12.1%,9.4%,2.6%,X,-7.0%,-1.8%,-6.2%,...,-3.3%,14.5%,-0.4%,X,X,X,1.0%,6.0%,9.2%,1.8%
3,"2,967,297","46,480","14,358","66,788","109,299","15,254","10,967","23,498","10,776","6,373",...,"8,841","92,843","13,542","6,135","6,189","13,060","7,993","5,054","11,943","14,849"
4,6.2%,7.2%,5.3%,5.1%,5.0%,5.8%,6.1%,5.8%,5.9%,6.3%,...,3.8%,17.5%,7.0%,5.8%,6.5%,7.2%,6.2%,7.9%,6.6%,6.3%

In [115]:
my_final_df = df6.reindex(sorted(df6.columns), axis=1)

In [120]:
my_final_df.head()

,Fact,,"Abbeville County, South Carolina","Abbeville city, Louisiana","Abbeville city, South Carolina","Aberdeen city, Maryland","Aberdeen city, Mississippi","Aberdeen city, South Dakota","Aberdeen city, Washington","Aberdeen town, North Carolina",...,"Zeeland charter township, Ottawa County, Michigan","Zeeland city, Michigan","Zephyrhills South CDP, Florida","Zephyrhills West CDP, Florida","Zephyrhills city, Florida","Ziebach County, South Dakota","Zimmerman city, Minnesota","Zion city, Illinois","Zionsville town, Indiana","Zuni Pueblo CDP, New Mexico"
0,"Population estimates, July 1, 2019, (V2019)","328,239,523","24,527","12,038","5,014","16,019","5,205","28,257","16,756","7,988",...,"11,564","5,536",X,X,"16,456","2,756","5,995","23,487","28,357",X
1,"Population estimates base, April 1, 2010, (V2...","308,758,105","25,416","12,227","5,254","14,982","5,612","26,112","16,872","6,369",...,"9,971","5,502",X,X,"13,859","2,801","5,238","24,394","24,392",X
2,"Population, percent change - April 1, 2010 (es...",6.3%,-3.5%,-1.5%,-4.6%,6.9%,-7.3%,8.2%,-0.7%,25.4%,...,16.0%,0.6%,X,X,18.7%,-1.6%,14.5%,-3.7%,16.3%,X
3,"Population, Census, April 1, 2010","308,745,538","25,417","12,257","5,237","14,959","5,612","26,091","16,896","6,350",...,"9,971","5,504","5,276","5,865","13,288","2,801","5,228","24,413","14,160","6,302"
4,"Persons under 5 years, percent",6.0%,4.7%,8.5%,7.7%,6.0%,6.8%,6.2%,8.4%,9.2%,...,6.3%,9.0%,4.0%,2.7%,4.8%,5.5%,6.9%,6.8%,7.4%,5.4%

In [119]:
#adding new clumn at first index
my_final_df.insert(loc=0, column='Fact', value=final_req['Fact'])

In [118]:
final_req.Fact.head()

0         Population estimates, July 1, 2019,  (V2019)
1    Population estimates base, April 1, 2010,  (V2...
2    Population, percent change - April 1, 2010 (es...
3                    Population, Census, April 1, 2010
4                       Persons under 5 years, percent
Name: Fact, dtype: object

In [121]:
my_final_df.to_csv(r'Final_US_data_from_census_gov.csv')#finally data into csv